body {
	background-color: rgb(231, 229, 229);
}

.filter-countries-content {
	text-align: center;
}

.filter-countries-input {
	padding: 17px 10px;
	font-size: 16px;
	border: 1px solid #f4f4f4;
	border-radius: 10px;
	width: 300px;
	box-sizing: border-box;
	margin-bottom: 25px;
}